@model E_SafetyWorkPermit.Models.DepartmentMasterViewModel

@{
    ViewBag.Title = "AddDepartmentMaster";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    ViewBag.Title = " Department Master";
    if (TempData["success"] != null)
    {
        if (TempData["success"].ToString() == "1")
        {
            <div class="alert alert-success" role="alert">
                @TempData["msg"]
            </div>
        }
        else if (TempData["success"].ToString() == "0")
        {
            <div class="alert alert-danger" role="alert">
                @TempData["msg"]
            </div>
        }
    }
    TempData["success"] = null;
    TempData["msg"] = null;
}

<h2>Add Department</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class=" form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class=" col-md-12 form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class=" col-md-12 form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.DepartmentCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DepartmentCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DepartmentCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class=" col-md-12 form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { id = "DM_CreatedDate", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-12 form-group">
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.UpdatedDate, htmlAttributes: new { id = "DM_UpdatedDate", @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.UpdatedDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UpdatedDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" style="border-bottom-color:red;border-top-color:red" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var bindDatePicker = function () {
            $(".inputTime").datetimepicker({
                format: "hh:mm A",
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }

            }).find('input:first').on("blur", function () {
            });
        }
        bindDatePicker();
    });
</script>


<script type="text/javascript">

    $('#DM_CreatedDate').datepicker({
        format: 'dd/MM/yyyy'
    });


    $('#DM_UpdatedDate').datepicker({
        format: 'dd/MM/yyyy'
    });

</script>
<script type="text/javascript">
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>